<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "001.png" %>
	</div>

	<div id="content">
		<h1>It's Mr Oshim</h1>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias in iusto veniam numquam ad quod, beatae molestiae mollitia. Magnam veritatis, commodi nobis explicabo, qui, velit totam, esse consectetur facilis sit earum beatae aperiam facere? Fugiat reiciendis sit, consectetur voluptates esse, minus aut omnis laudantium impedit non repellendus ea dolorum harum, accusantium. Animi aut exercitationem aperiam, ex suscipit maiores dolores commodi officiis iure eius esse atque saepe aliquid illo eum inventore repellat officia dolorem perspiciatis nulla quo provident. Autem odit nemo corporis sapiente, quisquam, est eveniet! Doloribus autem dolor vero provident eligendi modi in cumque tenetur omnis rerum molestiae, perferendis, exercitationem.</p>
	</div>
</div>